.submit-tip.container {
    max-width: 500px;
}

.submit-tip.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 5px;
}

.form-group textarea {
    height: 100px;
}

.form-buttons {
    display: flex;
    gap: 2%;
}