<section class="login container">
    <h2>Login</h2>
    <form class="login-form" #form="ngForm" (ngSubmit)="login(form)">
        <label for="email">Email</label>
        <input
          class="input-error"
          type="email"
          name="email"
          id="email"
          placeholder="Type email"
          #inputEmail="ngModel"
          ngModel
          required
          [appEmail]="appEmailDomains"
        />

        <ng-container *ngIf="inputEmail.touched">
          <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
          <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">Email is not valid!!</p>
        </ng-container>

        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          ngModel
          #inputPassword="ngModel"
          required
          minlength="5"
        />

        <ng-container *ngIf="inputPassword.touched">
          <p class="error" *ngIf="inputPassword.errors?.['required']">
            Password is required!
          </p>
          <p class="error" *ngIf="inputPassword.errors?.['minlength']">
            Password must be at least
            {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
          </p>
        </ng-container>

        <button class="btn primary" [disabled]="form.invalid">Log In</button>

        <p class="text-center">
            Don't have an account?
            <a routerLink="/register">Register</a>
        </p>
    </form>
</section>