/* Fontawesome ICONS */
@import url(https://use.fontawesome.com/releases/v6.4.0/css/all.css);

/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap);


/* ANGULAR MATERIAL */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* TYPOGRAPHY */

html,
body {
  font: normal 18px/1.5 'Lato', sans-serif;
  color: #313030;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  color: #313030;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1em;
}

p.error {
  font-size: 0.8em;
  color: #E29578;
  font-style: italic;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: white;
}


a:hover {
  color: #E29578;
  cursor: pointer;
}

input {
  border-radius: 4px;
  border: 1px solid #83C5BE;
  height: 40px;
}

textarea {
  border-radius: 4px;
  border: 1px solid #83C5BE;
}

/* LAYOUT*/


.app-root {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  background-color: #EDF6F9;
}

section {
  margin: 0 50px 50px 50px;
}

/* BUTTONS */

.btn.wrapper {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.btn.primary {
  width: 100%;
  background-color: #83C5BE;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn.primary a {
  color:white;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px 140px;
  margin: -2em;
}

.btn.primary:hover {
  background-color: #E29578;
}

/* FORMS  */

.container {
  margin: 50px auto;
  padding: 20px;
  border: 5px dotted #83C5BE;
}

.custom-snackbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

/* SUBMIT & EDIT FORMS */

.submit-tip.container {
  max-width: 500px;
}

.submit-tip.container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 5px;
}

.form-group textarea {
  height: 100px;
}

.form-buttons {
  display: flex;
  gap: 2%;
}