<section class='tips-block'>
        <div class='tips-header'>
            <h2>Enjoy the best of Bulgaria</h2>
            <h3>For foreigners and locals who want to (re)discover our lovely Bulgaria.</h3>
        </div>
        <div class='tips-item-grid' *ngIf="allTips">

            <div class="tip-item" *ngFor="let tip of allTips | keyvalue ">
                <figure class='tip-img'>
                    <img alt='image' [src]="tip.value['imageUrl']" />
                </figure>
                <div class="description">
                    <h3>{{tip.value['tipTitle'] | titlecase}}</h3>
                    <p>{{tip.value['tipContent'] | slice}}</p>
                </div>
                <button class='btn primary'>
                    <a [routerLink]="['/traveltips/all',tip.value['userId'], tip.key]">Read more
                        <span><b>♡</b></span></a>
                </button>
            </div>

        </div>
</section>