<nav class="top-nav">
    <div class="logo-wrapper">
        <img src="assets/99-lives-low-resolution-logo-color-on-transparent-background.png" alt="">
    </div>
    <div class="menu-wrapper">
        <ul class="top-nav main-menu">
            <li class="menu-item"><a href="#">Home</a></li>
            <li class="menu-item"><a href="#">Destinations</a></li>
            <li class="menu-item"><a href="#">Travel Tips</a></li>
            <li class="menu-item"><a href="#">About Us</a></li>
            <li class="menu-item"><a href="#">Contacts</a></li>
        </ul>
        <ul class="top-nav socials-menu">
            <li class="social-icon"><a href="instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="social-icon"><a href="twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="social-icon"><a href="facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="social-icon"><a href="linkedin.com"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </div>
</nav>