.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #006d77;
    border: none;
    color: white;
    padding: 10px;
}

.dropdown-menu {
    position: absolute;
    list-style: none;
    background-color: #006d77;
    padding: 5px;
    margin-top: 5px;
    display: none;
}

.dropdown-menu.show {
    display: block;
    border-radius: 5px;
}

.dropdown-menu.show li {
    color: white;
    padding: 10px;
}

.dropdown-menu.show li:hover, 
.dropdown-toggle:hover {
    background-color: #E29578;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}