<div class="dropdown" (mouseleave)="closeDropdown()">
    <div class="dropdown-toggle" (mouseover)="toggleDropdown()">
        {{ selectedOption || 'Travel Tips' }}
        <i class="fa-solid fa-caret-down"></i>
    </div>
    <ul class="dropdown-menu" [class.show]="isDropdownOpen" (mouseenter)="cancelCloseDropdown()"
        (mouseleave)="closeDropdown()">
        <li *ngFor="let option of options" (click)="navigateToPage(option)" [hidden]="option === 'Add Tip' && !isLoggedIn">
            {{ option }}
        </li>
    </ul>
</div>