header {
    background-color: #006d77; 
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px 20px;
}

.logo-wrapper {
    width: 15%;
    min-width: 100px;
}

.menu-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.top-nav a{
    color: #fff;
    padding: 5px;
}


.top-nav li {
    padding: 10px;
}

.top-nav.main-menu {
    width: 75%;
}

.top-nav.socials-menu {
    width: 20%;
}

.top-nav a:hover{
    color: #E29578;
}
