/*--- FONTS ---*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
}

body {
  background-color: #F2E8CF;
  margin: 0px;
  padding: 0px;

}

/*--- NAVIGATION MENU ---*/

nav ul {
  background-color: #386641;
  text-align: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

nav ul li {
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  padding: 40px;
  display: inline-block;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}


/*--- BUTTONS ---*/

a:-webkit-any-link {
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.button-primary {
  background-color: #BC4749;
  border-radius: 9999px;
  border: none;
  padding: 10px 30px;
  margin-left: 0em;
  box-shadow: 0px 8px 15px #0000001a;
  font-size: 30px;
  text-decoration: none;
}

.button-primary:hover {
  background: linear-gradient(270deg, #007EA7 -24.77%, #80CED7 95.41%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-primary:hover span {
  color: #bc4749;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*--- IMAGES ---*/

.logo {
  display: block;
  text-align: center;
}

.logo img {
  height: 10em;
  padding: 2em;
}


/*--- SOCIALS ---*/

.socials-section {
  text-align: right;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

a.fa {
  background: #F2E8CF;
  color: #BC4749;
}

.fa:hover {
  background: linear-gradient(270deg, #007ea7 -24.77%, #80CED7 95.41%);
  /*opacity: 0.7;*/
}

/*--- HOME ---*/

.home-header {
  background-image: linear-gradient(to bottom, rgb(245, 246, 252), rgba(0, 125, 167, 0.356)), url('https://jnj-content-lab.brightspotcdn.com/dims4/default/61174fe/2147483647/strip/true/crop/1177x662+118+0/resize/1200x675!/quality/90/?url=http%3A%2F%2Fjnj-brightspot.s3.amazonaws.com%2F85%2Fa3%2F25ec3c19416dbb428a83992d0691%2Flede-earthday-2.png');
  min-height: 500px;
  max-width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px;
  margin: -10px;
}

.home-block h1 {
  font-size: 4em;
  font-weight: 900;
  color: #313030;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0.1em;
}

.home-block p {
  font-size: 1.5em;
  padding-bottom: 0.1em;
}

/*--- ACTIVITIES ---*/

.activities-block {
  text-align: center;
  margin: 0 50px;
  box-sizing: border-box;
}

.activities-block .activities-item-grid {
  display: flex;
  margin: 0 -0.75%;
  width: 101.5%;
}

.activities-block .activities-item-grid .activity-item {
  width: 400px;
}

.activities-block .activities-items.grid > * {
  width: 23.5%;
  margin: 0 0.75% 0.9375em;
}

figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.activities-block .activities-item-grid .activity-item .activity-img img {
  border-radius: 16px;
  max-height: 192px;
  width: 100%;
  object-fit: cover;
}