/*--- FONTS ---*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
}

body {
  background-color: #F2E8CF;
  margin: 0px;
  padding: 0px;

}

h1 {
  font-size: 4em;
  font-weight: 900;
  color: #313030;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0.1em;
}

h2 {
  font-size: 2em;
  padding-top: 0.5em;
}

h1~p,
h2~p {
  font-size: 1.5em;
  margin-top: 0em;
}

p {
  font-size: 1em;
}

p.mini{
  font-size: 0.7em;
  font-weight: 600;
}

img.avatar {
  border-radius: 50%;
}

/*--- NAVIGATION MENU ---*/

nav ul {
  background-color: #386641;
  text-align: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

nav ul li {
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  padding: 40px;
  display: inline-block;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}


/*--- BUTTONS ---*/

a:-webkit-any-link {
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.button-primary {
  background-color: #BC4749;
  border-radius: 9999px;
  border: none;
  padding: 10px 30px;
  margin-left: 1em;
  box-shadow: 0px 8px 15px #0000001a;
  font-size: 30px;
  text-decoration: none;
}

.button-primary:hover {
  background: linear-gradient(270deg, #007EA7 -24.77%, #80CED7 95.41%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-primary:hover span {
  color: #bc4749;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*--- IMAGES ---*/

.logo {
  display: block;
  text-align: center;
}

.logo img {
  height: 10em;
  padding: 2em;
}

.gif.earth {
  height: auto;
  max-width: 100%;
}

.gif.bee {
  position: absolute;
  right: 14.4vw;
}

.impact-gif-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

/*--- SOCIALS ---*/

.socials-section {
  text-align: right;
  padding-right: 2em;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

a.fa {
  background: #F2E8CF;
  color: #BC4749;
}

.fa:hover {
  background: linear-gradient(270deg, #007ea7 -24.77%, #80CED7 95.41%);
  /*opacity: 0.7;*/
}

/*--- HOME ---*/

.home-header {
  background-image: linear-gradient(to bottom, rgb(245, 246, 252), rgba(0, 125, 167, 0.356)), url('https://jnj-content-lab.brightspotcdn.com/dims4/default/61174fe/2147483647/strip/true/crop/1177x662+118+0/resize/1200x675!/quality/90/?url=http%3A%2F%2Fjnj-brightspot.s3.amazonaws.com%2F85%2Fa3%2F25ec3c19416dbb428a83992d0691%2Flede-earthday-2.png');
  min-height: 500px;
  max-width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px;
  margin: -10px;
}

/*--- ACTIVITIES ---*/

.activities-block,
/* IMPROVE SELECTOR*/
.about-block {
  text-align: center;
  margin: 0 50px;
  box-sizing: border-box;
}

.activities-block .activities-item-grid {
  display: flex;
  margin: 0 -0.75%;
  width: 101.5%;
}

.activities-block .activities-item-grid .activity-item {
  width: 400px;
}

.activities-block .activities-items.grid>* {
  width: 23.5%;
  margin: 0 0.75% 0.9375em;
}

figure {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.activities-block .activities-item-grid .activity-item .activity-img img {
  border-radius: 16px;
  max-height: 192px;
  width: 100%;
  object-fit: cover;
}

/*--- CATEGORIES ---*/

.categories-block,
/* IMPROVE SELECTOR*/
.impact-block {
  background-color: #A7C957;
  text-align: center;
  margin: 50px 50px;
  box-sizing: border-box;
}

.categories-block .categories-item-grid .category-item .category-img img {
  border-radius: 16px;
  height: 175px;
  object-fit: cover;
  display: inline-block;
}

/* 
.categories-block .categories-item-grid .category-img .title {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  font-weight: 700;
  color: red;
} */

/*--- SUBSCRIBE ---*/

.subscribe-block{
  background-color: #F2E8CF;
  color: #313030;
  margin-bottom: 0;
  text-align: center;
}

input {
  height: 1.6em;
  width: 30%;
  padding: 12px 20px;
  border: 2px solid #969393;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[placeholder]{
  font-size: 1em;
  font-family: inherit;
  color: #969393;
}

/*--- FOOTER ---*/

.site-footer {
  background-color: #386641;
  padding: 45px 0 20px;
  font-size: 1em;
  color: #fff;
  padding: 3em;
}

.site-footer hr {
  border-top-color: #fff;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1.5em;
  margin-bottom: 0.1em;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #fff;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #bc4749;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}