
/*--- HOME ---*/

.home-header {
    background-image: linear-gradient(to bottom, rgb(245, 246, 252), rgba(0, 125, 167, 0.356)), url('https://jnj-content-lab.brightspotcdn.com/dims4/default/61174fe/2147483647/strip/true/crop/1177x662+118+0/resize/1200x675!/quality/90/?url=http%3A%2F%2Fjnj-brightspot.s3.amazonaws.com%2F85%2Fa3%2F25ec3c19416dbb428a83992d0691%2Flede-earthday-2.png');
    min-height: 500px;
    max-width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    padding: 100px;
}

/*--- EVENTS ---*/

.events-block,
.about-block {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
}

.events-item-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%/1, max(290px, 100%/4)), 1fr));
    margin-top: 50px;
}

.event-item {
    display: flex;
    flex-direction: column;
    /* fix Participate button going over text by page shrink */
}

.event-item .event-img {
    width: 100%;
    height: 60%;
}

.event-item .description {
    width: 100%;
    height: 30%;
}

.event-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 1em 0 rgba(52, 188, 233, 0.2);
}

/*--- GREENIES ---*/

.greenies-block

/* IMPROVE SELECTOR*/
    {
    background-color: #A7C957;
    text-align: center;
    margin: 50px 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    gap: 2em;
}

.card {
    width: 5em;
    flex: 0 0 auto;
    overflow: hidden;
    display: flex;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    transition: width 0.4s ease-in-out;
}

.card:hover {
    width: 30em;
}

/*--- SUBSCRIBE ---*/

.subscribe-block {
    background-color: #F2E8CF;
    color: #313030;
    text-align: center;
}

input {
    height: 1.6em;
    width: 30%;
    padding: 12px 20px;
    border: 2px solid #969393;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[placeholder] {
    font-size: 1em;
    font-family: inherit;
    color: #969393;
}