<div *ngIf="tip" class='tip-item'>
    <figure class='tip-img'>
        <img alt='Must see places' src={{tip.imageUrl}} />
    </figure>
    <div class="description">
        <h3>{{ tip.tipTitle }}</h3>
        <p>{{ tip.tipContent }}</p>
    </div>
    <div class="btn wrapper" *ngIf="isOwner">
        <button class='btn primary'>
            <a routerLink='/newtip'>Edit <span><b>♡</b></span></a>
        </button>
        <button class='btn primary' (click)="deleteTip()">
            Delete 
        </button>
    </div>
</div>