@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 'Poppins', sans-serif;
}

h3 { 
    padding-bottom: 10px;
}

p {
    padding-bottom: 10px;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.container header {
    text-align: center;
    padding: 20px 0 5px;
}

.container header h2 span {
    color: #3284CA;
}

.cards-list {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1 0 30%;
    border-radius: 12px;
    background-color: #819DAF;
}

.card img{
    display: block;
    width: 100%;
    border-radius: 12px;
}

.card .content {
    padding: 15px;
}

.card a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #327DC4;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 8.5);
}