html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    
}

article {
    display: inline-block;
    width: 50em;
    padding-left: 20px;
}

img {
    width: 40em;
    height: auto;
}

aside {
    display: inline-block;
    vertical-align: top;
}